<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:app = "http://schemas.android.com/apk/res-auto"
  xmlns:tools ="http://schemas.android.com/apk/tools"
      package="com.moderneinstein.android.arcade"
      android:versionCode="1"
      android:versionName="1.0">
      <!--  android:name = "CentralSource"  -->
    <application android:label="@string/app_name" 
    android:icon="@drawable/ic_launcher"  >
        <activity android:name="RootActivity"
                  android:exported ="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name = "AnagramsActivity"
        android:exported = "true" 
        android:parentActivityName ="RootActivity">
        </activity>
        <activity
        android:name = "ToDoListActivity"
        android:exported = "true"
        android:parentActivityName ="RootActivity">
        </activity>
        <activity
        android:parentActivityName = "RootActivity"
        android:exported ="true"
        android:name ="SignupActivity">
        </activity>  
        <activity
        android:exported = "true"
        android:parentActivityName ="RootActivity"
        android:name ="LoginActivity">
        </activity>
        <activity
        android:exported = "false"
        android:parentActivityName = "RootActivity"
        android:name = "SettingsActivity">
        </activity>
    </application>
    <!--android:label="@string/app_name"-->
</manifest>
